.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 554px;
    margin: 0 auto;
    list-style: none;
    padding: 29px;

}

.navItem{
    display: flex;
    align-items: center;
    gap : 5px;
    list-style: none;
}

