.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 554px;
    margin: 0 auto;
    list-style: none;
    padding: 29px;

}

.navItem {
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
}



.navItemWrapper {
    position: relative;
}

.navTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}


.navItemWrapper ul {
    display: none;
    position: absolute;
    top : 100%;
    left: 0;
}

.navItemWrapper:hover ul {
    display: block;
}

@media (max-width: 375px) {
    .nav {
        display: none;
    }
}