.archive{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap : 15px;
}

@media (max-width: 375px) {
    .archive {
      width: 100%;
      margin: 0 auto;
      padding: 0 16px;
      justify-content: center;
      text-align: center;
    }
  }