.postDescription {
    padding-top: 10px;
}

.lifeStyle {
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0px;
    color: #EB0028;
    padding-bottom: 15px;
}


.postTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #000000;
    padding-bottom: 15px;
}

.postAuthor {
    display: flex;
    gap: 7px;
    padding-bottom: 15px;
}

.author {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    color: #000000;
}

.date {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    color: #9b9b9b;
}

.view {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    color: #9b9b9b;
}

.postText {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #929292;
}