.subMenu {
    border: 1px solid red;
    width: 176px;
    height: 173px;
    padding: 40px;
    position: absolute;
    right: 19px;
}


.subMenu {
    background: white;
    border: 1px solid #e5e5e5;
    padding: 10px;
    list-style: none;
    min-width: 150px;
}

.subMenu li {
    padding: 6px 10px;
    cursor: pointer;
}

.subMenu li:hover {
    background: #f5f5f5;
}


.subNavTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}