.navLink {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
    color: black;
    font-size: 16px;
    line-height: 16px; 
    padding: 5px 0;
}


.subClass:hover {
    opacity : .5;
    padding:  5px 10px;
}