.headerTop {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 29px;
  border-bottom: 1px solid #e9e9e9;
}

.burgerMenu {
  display: none;
}

@media (max-width: 375px) {
  .burgerMenu {
    display: block;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}